.header__menu {
  background-color: #181E2E;
  height: 9vh;
}

.color {
  background-color: #181E2E;
}

li {
  padding: 0px 10px;
}

.enlace {
  color: #FFFFFF;
  transition: color 0.3s ease;
}
.enlace:hover {
  color: #B0B3B8;
}

.header__enlace {
  color: #FFFFFF;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.header__enlace:hover {
  color: #B0B3B8;
}
.header__enlace:focus {
  color: #B0B3B8;
  border-bottom: #d3d92e 4px solid;
}

.header__boton__menu {
  color: #FFFFFF;
  transition: color 0.3s ease;
}
.header__boton__menu:hover {
  color: #B0B3B8;
}

.header__boton__menu1 {
  color: #181E2E;
}

/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #d3d92e;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */
/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* State when navbar is collapsed (END) */
/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #FFFFFF;
}

.home {
  height: 100vh;
  position: relative;
}

.home__fondo_principal {
  background-image: url(../../imagenes/home/img-principal.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.home__titulo__principal_nuevo {
  color: #d3d92e;
  line-height: 122%;
}

.home__parrafo1 {
  color: #FFFFFF;
  font-weight: 300;
  text-align: justify;
  line-height: 126%;
}

.home_borde {
  border-bottom: solid 20px #d3d92e;
}

.home__contenido__principal1 {
  color: #d3d92e;
  line-height: 122%;
}

.home__titulo__principal_1 {
  font-weight: bold;
  color: #d3d92e;
  font-size: 3.4rem;
  line-height: 122%;
  position: relative;
}

.home__separador__formulario {
  width: 50%;
  position: absolute;
  z-index: 2;
  /* margin-top: -500px; */
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__modal {
  color: #d3d92e;
}

.home__input {
  color: #181E2E;
  border: 0px;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 10% px;
  height: 10%;
  width: 90%;
  padding: 2rem;
  transition: border-bottom 0.3s ease;
}
.home__input:focus {
  border-bottom: 2px solid #d3d92e;
  outline: none;
}

.home__btn {
  background-color: #d3d92e;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 25px 10px 25px;
  transition: background-color 0.3s ease;
}
.home__btn:focus {
  outline: none;
}
.home__btn:hover {
  background-color: #aeb321;
}

.home__titulo_formulario {
  letter-spacing: -1.4pt;
}

.home__titulo_formulario_secundario {
  color: #8E8E8E;
  letter-spacing: -1.2pt;
}

.home__checkbox {
  transform: scale(1.5);
  padding: 10px;
}

input::placeholder,
textarea::placeholder {
  color: #8E8E8E;
  font-weight: 300;
  font-size: 0.875rem;
}

.home__titulo_principal {
  font-weight: bold;
  color: #d3d92e;
  font-size: 50px;
  line-height: 122%;
}

.home__parrafo {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  line-height: 122%;
}

.home__separador {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-top: -5px;
}

/* --- MEDIAQUERIES ---  */
@media screen and (max-width: 492px) {
  .home__checkbox {
    margin-right: -4px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .home__btn_cel {
    padding: 5px 10px 5px 10px;
  }
}
/* Dispositivo MD */
/* Dispositivo XL */
@media screen and (max-width: 1200px) {
  .home__fondo {
    background-size: 50%;
  }
}
.somos__separador {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-top: -15px;
}

.somos__separador__contenido {
  width: 150%;
  height: 60px;
  margin-left: -25%;
  background-color: #181E2E;
}

.somos__link {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-top: -100px;
}

.somos__img {
  max-height: 100vh;
}

.somos_imagen_fondo {
  max-height: 100vh;
}

.somos__boton__slider {
  transition: transform 0.3s ease;
}

.somos__boton__slider:hover {
  transform: scale(1.01);
}

.somos__boton {
  border: none;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

/* Dispositivo sm */
@media screen and (max-width: 492px) {
  .somos__boton__slider {
    height: 50%;
    width: 50%;
  }
}
/* Dispositivo MD */
@media screen and (max-width: 768px) {
  .somos__separador__contenido {
    height: 30px;
  }
}
/* Dispositivo LG */
/* Dispositivo XL */
section.diferencialesVitta {
  min-height: 80vh;
}

section.diferencialesVittaRio {
  min-height: 80vh;
}

section.diferencialesVittaUrbano {
  min-height: 80vh;
}

.diferenciales__header {
  margin-top: 5rem;
}

.diferenciales__titulo {
  font-weight: bold;
  font-size: 2.5rem;
  color: #191D2D;
  position: absolute;
  z-index: 1;
}

.diferenciales__card {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.diferenciales__card__box {
  border: 1px solid #eaeaea;
  border-radius: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: transform 0.3s ease;
  width: 70%;
  height: 70%;
}

.diferenciales__card__imagen {
  height: 13rem;
  width: 13rem;
  padding: 1rem;
}

.diferenciales__btn {
  background-color: #d3d92e;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 4% 10% 4% 10%;
  text-align: center;
  margin-top: 10%;
}

.diferenciales__puntos__nuevos {
  background-image: url(../../imagenes/diferenciales/puntos.png);
  background-size: 19%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.diferenciales__circulo {
  background-image: url(../../imagenes/diferenciales/circulo.png);
  background-size: 10%;
  background-position: 57% 0%;
  background-repeat: no-repeat;
}

.diferenciales__logo {
  background-image: url(../../imagenes/diferenciales/logo_grande.png);
  background-size: 20%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.diferenciales__logo__chico {
  background-image: url(../../imagenes/diferenciales/logo.png);
  background-size: 11%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  position: relative;
}

.prueba__diferenciales_section {
  position: relative;
}

.prueba__diferenciales {
  position: absolute;
}

/* Dispositivo sm */
@media screen and (max-width: 492px) {
  .diferenciales__titulo {
    font-size: 25px;
  }

  .diferenciales__card__imagen {
    padding: 10px;
  }

  .diferenciales__card__box {
    width: 9rem;
    height: 9rem;
    margin-bottom: 1rem;
  }

  .diferenciales__card__imagen {
    height: 1rem;
    width: 1rem;
  }
}
/* Dispositivo MD */
@media screen and (max-width: 768px) {
  .diferenciales {
    margin-top: 50px;
  }

  .diferenciales__titulo {
    font-size: 30px;
  }

  .diferenciales__titulo {
    position: relative;
  }

  .diferenciales__card__imagen {
    height: 2rem;
    width: 2rem;
  }
}
/* Dispositivo LG */
@media screen and (max-width: 992px) {
  .diferenciales__card__imagen {
    height: 6rem;
    width: 6rem;
  }
}
/* Dispositivo XL */
@media screen and (max-width: 1200px) {
  .diferenciales__card {
    margin-left: 0px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .diferenciales__card__imagen {
    height: 10rem;
    width: 10rem;
  }
}
.ubicacion {
  background-color: #181E2E;
}

.ubicacion__titulo {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  margin-top: 85px;
  z-index: 1;
}

.ubicacion__separator {
  text-align: start;
  padding-left: -1.25rem;
  margin-left: -1.25rem;
  position: absolute;
}
.ubicacion__separator::after {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 13rem;
  background-color: #d3d92e;
  top: -1.5em;
}

.ubicacion__titulo_principal {
  color: #d3d92e;
  font-size: 3.5rem;
  font-weight: bold;
}

.ubicacion__parrafo {
  text-align: justify;
  font-size: 1.4rem;
}

.ubicacion__icono {
  margin-top: 5rem;
  margin-left: 5rem;
}

.ubicacion__persona {
  background-image: url(../../imagenes/ubicacion/persona.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 100% 100%;
}

.ubicacion__nuevos__puntos {
  background-image: url(../../imagenes/ubicacion/puntos.png);
  background-size: 40%;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

.ubicacion__nuevos__circulo {
  background-image: url(../../imagenes/ubicacion/circulo.png);
  background-size: 8%;
  background-position: 59% 100%;
  background-repeat: no-repeat;
}

.ubicacion__nuevos__circulo_mapa_borrar {
  background-image: url(../../imagenes/ubicacion/circulo.png);
  background-size: 20%;
  background-position: 2% 97%;
  background-repeat: no-repeat;
}

.ubicacion__borde {
  background-image: url(../../imagenes/ubicacion/borde.png);
  background-size: 80%;
  background-position: 75% 60%;
  background-repeat: no-repeat;
}

.ubicacion__mapa {
  border-top: 0px;
  border-left: 0px;
  border: 100;
  width: 35rem;
  height: 35rem;
}

.ubicacion__card {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.ubicacion__separator-ribbon__puntos {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.ubicacion__content__puntos {
  width: 90%;
}

.ubicacion__puntos {
  width: 30%;
  margin-top: -680px;
  margin-left: 800px;
}

/* Dispositivo sm */
@media screen and (max-width: 492px) {
  .ubicacion__titulo {
    font-size: 25px;
  }

  .ubicacion__separator {
    text-align: start;
    padding-left: -1.25rem;
    margin-left: -1.25rem;
    position: absolute;
  }
  .ubicacion__separator::after {
    position: absolute;
    content: "";
    height: 0.7rem;
    width: 8rem;
    background-color: #d3d92e;
    top: -1.5em;
  }
}
/* Dispositivo MD */
@media screen and (max-width: 768px) {
  .separator {
    margin-left: -1rem;
  }
  .separator::after {
    width: 12rem;
  }
}
/* Dispositivo LG */
/* Dispositivo XL */
.servicios {
  background-color: #181E2E;
}

.servicio__titulo {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  margin-top: 85px;
  z-index: 1;
}

.ubicacion__subtitulo {
  color: #d3d92e;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: -15px;
  font-size: 1rem;
}

.servicios__card {
  background-color: transparent;
  border: none;
  margin-bottom: 3rem;
}

.servicios__texto__card {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: start;
}

.servicios__imagen {
  width: 70%;
  height: 70%;
}

.servicio__contenido__card {
  margin-top: 2rem;
}

.servicio__svg {
  width: 80%;
  height: 80%;
  margin-left: 40px;
  margin-top: 15px;
}

.servicio__circulo {
  background-image: url(../../imagenes/servicios/circulo.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.servicio__puntos {
  background-image: url(../../imagenes/servicios/puntos.png);
  background-size: 8%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.servicio__logo {
  background-image: url(../../imagenes/servicios/logo.png);
  background-size: 13%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

@media (max-width: 576px) {
  svg.servicio__svg {
    margin: 0px 0px 0px 60px;
  }

  .servicios__card {
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .servicio__svg {
    margin-left: 100px;
  }

  .servicios__texto__card {
    font-size: 12px;
  }
}
.impacto__contenido {
  margin-top: 3.5rem;
}

.impacto__titulo {
  display: inline-block;
  position: relative;
  color: #181E2E;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 85px;
  z-index: 1;
}

.impacto__separator {
  text-align: start;
  padding-left: -1.25rem;
  margin-left: -1.25rem;
  position: absolute;
}
.impacto__separator::after {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 19rem;
  background-color: #d3d92e;
  top: 7em;
}

.impacto__titulo_principal {
  color: #181E2E;
  font-weight: bold;
  line-height: 122%;
  font-size: 45px;
}

.impacto__titulo_secundario {
  color: #FFFFFF;
  line-height: 122%;
  font-size: 30px;
}

.impacto__parrafo {
  margin-top: 1rem;
  color: #FFFFFF;
  line-height: 122%;
  text-align: justify;
  color: #757575;
  font-weight: 300;
  font-size: 17px;
}

.impacto__textos {
  margin-top: 3rem;
}

.imagen__impacto {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.impacto__separator-ribbon {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.impacto__content__puntos {
  width: 20%;
}

.impacto__puntos {
  background-image: url(../../imagenes/tripleImpacto/puntos.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 70% 100%;
}

.impacto__logo {
  background-image: url(../../imagenes/tripleImpacto/logoGrande.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.impacto__circulo_azul {
  background-image: url(../../imagenes/tripleImpacto/logoAzul.png);
  background-size: 4%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.impacto__content__circulo {
  width: 5%;
}

.impacto__circulo {
  width: 120%;
  margin-top: 400px;
  margin-left: -30px;
}

/* Dispositivo sm */
@media screen and (max-width: 492px) {
  .impacto__titulo {
    font-size: 1.6rem;
  }

  .impacto__separator {
    margin-left: -1rem;
  }
  .impacto__separator::after {
    height: 1rem;
    width: 12rem;
    top: 6.3em;
  }
}
@media (max-width: 767.98px) {
  .imagen__impacto {
    width: 75%;
    height: 75%;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
/* Dispositivo LG */
/* Dispositivo XL */
.nosotros {
  background-color: #fafafa;
}

.nosotros__contenido {
  margin-top: 5rem;
}

.nosotros__titulo {
  font-weight: bold;
  font-size: 16px;
  color: #9d9d9d;
  margin-bottom: 1rem;
}

.nosotros__texto {
  color: black;
  line-height: 124%;
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
}

.nosotros__marca {
  color: #d3d92e;
  font-weight: bold;
}

.footer_principal {
  background-color: #181E2E;
  min-height: 18vh;
}

.footer__secundario {
  background-color: #d3d92e;
  height: 5vh;
}

.fotter__derechos {
  color: #FFFFFF;
  font-size: 1rem;
}

.footer__logo {
  width: 40%;
  height: 40%;
}

.footer__telefono {
  width: 5%;
  height: 5%;
}

.footer__redes {
  width: 50%;
  height: 50%;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 30px;
}

a {
  text-decoration: none;
  text-align: center;
  align-items: center;
  position: relative;
  margin-top: 1em;
}
a:first-of-type {
  margin-top: 0;
}

/*# sourceMappingURL=sass.css.map */
