
.diferenciales__header{
    margin-top: 80px
}

.diferenciales__titulo{
    font-weight: bold;
    font-size: 2.5rem;
    color: $azul-oscuro;
    position: absolute;
    z-index: 1;       
}

.diferenciales__separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    //agregar
}

.diferenciales__content__logo__chico{
    width: 12%;
    height: 530px; 
}

.diferenciales__logo__chico__config{
    width: 90%; 
    margin-top: 50px;
}

.diferenciales__separator-ribbon__puntos{
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1; 
}

.diferenciales__content__puntos{
    width: 20%;
}

.diferenciales__puntos{
    width: 120%; 
    margin-top: 200px;
    margin-left: 15px;
}

.diferenciales__separator-ribbon__circulo{
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1; 
}

.diferenciales__content__circulo{
    width: 90%;
}

.diferenciales__circulo{
    width: 8%; 
    margin-top: 130px;
    margin-left: 700px;

}

.diferenciales__card{
    margin-left: 70px;
    position: absolute;
    z-index: 2;

    margin-top: 40px;    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    
}

.diferenciales__card__box{
    border: 1px solid $contorno;
    border-radius: 43px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: transform .3s ease;
    width: 12rem;
    height: 12rem;  

    // transition: .3s transform cubic-bezier(.155,1.105,.295,1.12) ease,.3s box-shadow;
    
    // &:hover{
    //     transform: scale(1.1);
    // }
}

.diferenciales__card__imagen{
    height: 55%;
    width: 55%;

}


.diferenciales__btn{
    background-color: $amarillo;
    border: none;
    border-radius: 20px;
    color:$blanco ;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
 
    text-align: center;
    margin-top: 20px;  
}


/* Dispositivo sm */
@media screen and (max-width: 492px) {
    .diferenciales__titulo{
        font-size: 25px;
    } 
}

/* Dispositivo MD */
@media screen and (max-width: 768px) {
    .diferenciales{
        margin-top: 50px;
    }
    .diferenciales__titulo{
        font-size: 30px;
    }

    .diferenciales__titulo{
        position: relative;           
    } 
}

/* Dispositivo LG */
@media screen and (max-width: 992px) {

}

/* Dispositivo XL */
@media screen and (max-width: 1200px) {

    .diferenciales__card{
        margin-left: 0px;
        position: relative;
        z-index: 1;
    
        margin-top: 40px;    
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center; 
        
    }    
}
