.footer_principal{
    background-color: $azul;
    min-height: 18vh
}

.footer__secundario{
    background-color: $amarillo;
    height: 5vh;
}


.fotter__derechos{
    color: $blanco;
    font-size: 1rem;
}

.footer__logo{
    width: 40%;
    height: 40%;
}
.footer__telefono{
    width: 5%;
    height: 5%;
   
}

.footer__redes{
    width: 50%;
    height: 50%;
}