//Home 
.home{
    top:4em;
  padding-top: 20px;  
  top:20px;
  padding-bottom: 60px;
}

.home__fondo{
    background-color: $azul-oscuro;    
}


.separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;

}

.home__content__logo{
    width: 74%;
    height: 530px; 

}

.home__logo__grande__config{

  width: 89%; 
  margin-top: -3%;

}


.home__content__logo__chico{
    width: 11%;
    height: 530px; 
}

.home__logo__chico__config{
    width: 89%; 
    margin-top: -3%;
}


.home__titulo__principal_1{
    font-weight: bold;
    color: $amarillo;
    font-size: 3.4rem;
    line-height: 122%;
    position: relative;
}

.home__contenido__principal{
  margin-left: 7rem;

  margin-top: 20px;
  position: relative;
  z-index: 100

}


.home__separador__formulario{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-top: -500px;
}

.home__formulario__ubicacion{
    margin-left: 180px;
}

.home__separador__formulario__contenido{   
    padding: 30px;
    margin-left: -75%;
    background-color: $amarillo;    
}
.home__modal{
    color: $amarillo;
}

.contenido{
    position: absolute;
}

.home__input{
    color: $azul;
    border:0px;
    border-bottom: 1px solid $input-linea;
    font-size: 16px;
    margin-bottom: 10px;
    height:50px ;
    width: 100%;
    padding: 10px;

    transition: border-bottom .3s ease;

    &:focus{
        border-bottom: 2px solid $amarillo;
        outline: none;
    }
}

.home__btn{
    background-color: $amarillo;
    border: none;
    border-radius: 4px;
    color:$blanco ;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px 10px 25px;

    transition: background-color .3s ease;
    
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: darken($color: $amarillo, $amount: 10);
    }
}

.home__titulo_formulario{
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -1.5pt;
}
.home__titulo_formulario_secundario{
    font-weight: lighter;
    font-size: $font-size-sm;
    color: $input-texto;
}

.home__checkbox{
    transform: scale(1.5);
    padding: 10px;    
}

input::placeholder,
textarea::placeholder{
    color: $input-texto;
    font-weight: $font-weight-light;
    font-size: $font-size-sm;
}

.home__titulo_principal{
    font-weight: bold;
    color: $amarillo;
    font-size: 50px;
    line-height: 122%;
}

.home__parrafo{
    color: $blanco;
    font-weight: $font-weight-light;
    font-size: 16px;
    text-align: justify;
    line-height: 122%;   
}

.home__separador{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-top: -5px;
}

.home__separador__contenido{
    width: 150%;
    height: 16px;
    margin-left: -25%;
    background-color: $amarillo;    
}


/* --- MEDIAQUERIES ---  */
// Small devices (landscape phones, 576px and up)

@media screen and (max-width: 492px) {
    .home__checkbox{
        margin-right: -4px;
        text-align: center;        
    }
    h1.home__titulo__principal_1{
        font-size: 30px;
    }

}

@media (max-width: 576px) {

    .home__contenido__principal{
        margin-left: 4rem;
        margin-top: 20px;
      
    } 

     .home__btn_cel{      
         padding: 5px 10px 5px 10px;
     }
 }

/* Dispositivo MD */
@media screen and (max-width: 768px) {
    .home__titulo__principal_1{
        font-size: 35px;
    }

    .home__separador__contenido{
        height: 10px;    
    } 

    .home__titulo__principal_1{
        font-size: 2rem;
    }
}

/* Dispositivo XL */
@media screen and (max-width: 1200px) {
    .home__titulo__principal_1{
        font-size: 3rem;
    }
}

/* Dispositivo XL */
@media screen and (max-width: 1350px) {
    .home__logo__grande__config{

        height: 95%; 
        margin-top: -3%;
      
      }
      
}











