//Home 
.home{
//   top:4em;
    height: 100vh;
    background-color: $azul;
}



// .home__fondo_principal{
//     background-image: url(../../imagenes/home/img-principal.png);
//     background-size: 80%;
//     background-repeat: no-repeat;
//     background-position: 0% 0%;
//     position: absolute;
//     z-index: 0;
// }


.home__carrusel__index{
    position: absolute;   
    left: 40%; 
    z-index: 0;
}

.home__contenido__principal{
    position: absolute;
    z-index: 2;
    
}
.home__imagen{
    height: 100%;

    position: absolute;
    z-index: 1;
}



.home__index{
    position: relative;

}

.home__titulo__principal_nuevo{
     color: $amarillo;
    line-height: 122%;
}

.home__parrafo1{
    color: $blanco;
    font-weight: $font-weight-light;
   
    text-align: justify;
    line-height: 126%;   
}

.home_borde{
    border-bottom: solid 20px $amarillo;
}

.home__contenido__principal1{
    color: $amarillo;
    line-height: 122%;
}

.home__titulo__principal_1{
    font-weight: bold;
    color: $amarillo;
    font-size: 3.4rem;
    line-height: 122%;
    position: relative;
}



.home__separador__formulario{
    width: 40%;
    position: absolute;
    z-index: 3;
    left: 58%;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__modal{
    color: $amarillo;
}

.home__input{
    color: $azul;
    border:0px;
    border-bottom: 1px solid $input-linea;
    margin-bottom: 10%px;
    height:10% ;
    width: 90%;
    padding: 2rem;

    transition: border-bottom .3s ease;

    &:focus{
        border-bottom: 2px solid $amarillo;
        outline: none;
    }
}



.home__btn{
    background-color: $amarillo;
    border: none;
    border-radius: 4px;
    color:$blanco ;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px 10px 25px;

    transition: background-color .3s ease;
    
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: darken($color: $amarillo, $amount: 10);
    }
}

.home__titulo_formulario{
  
    letter-spacing: -1.4pt;
}
.home__titulo_formulario_secundario{

     color: $input-texto;     
    letter-spacing: -1.2pt;
}

.home__checkbox{
    transform: scale(1.5);
    padding: 10px;    
}

input::placeholder,
textarea::placeholder{
    color: $input-texto;
    font-weight: $font-weight-light;
    font-size: $font-size-sm;
}

.home__titulo_principal{
    font-weight: bold;
    color: $amarillo;
    font-size: 50px;
    line-height: 122%;
}

.home__parrafo{
    color: $blanco;
    font-weight: $font-weight-light;
    font-size: 16px;
    text-align: justify;
    line-height: 122%;   
}

.home__separador{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-top: -5px;
}




/* --- MEDIAQUERIES ---  */
// Small devices (landscape phones, 576px and up)

@media screen and (max-width: 492px) {
    .home__checkbox{
        margin-right: -4px;
        text-align: center;        
    }
}

@media (max-width: 576px) {
     .home__btn_cel{      
         padding: 5px 10px 5px 10px;
     }
 }

 @media (max-width: 663px) {

 }


/* Dispositivo MD */
@media screen and (max-width: 768px) {
      .home_carrusel1{
        display: none
    }
  
}

@media (max-width: 992px) {
      .home_carrusel1{
        display: none
    }
    .home__imagen{
        display: none;
    } 

    .fondo__chico{
        background-image: url(../../imagenes/home/logo2.png);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 0% 0%;
    }

    
 }

/* Dispositivo XL */
@media screen and (max-width: 1200px) {

    .home__carrusel__index{
        position: absolute;   
        left: 40%; 
        z-index: 0;
    }

  

}

@media screen and (max-width: 1400px) {

    .home__carrusel__index{
        position: absolute;   
        left: 45%; 
        z-index: 0;
    }

    .home__separador__formulario{
    width: 40%;
    position: absolute;
    z-index: 3;
    left: 58%;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__input{
    color: $azul;
    border:0px;
    border-bottom: 1px solid $input-linea;
    margin-bottom: 0%;
    height:8% ;

    padding: 1rem;

    transition: border-bottom .3s ease;

    &:focus{
        border-bottom: 2px solid $amarillo;
        outline: none;
    }
}

  

}












