.impacto__contenido{
    margin-top: 3.5rem;
}

.impacto__titulo{
    display: inline-block;
    position: relative;
    color: $azul;
    font-size: 40px;
    font-weight: bold;
    margin-top: 85px;
    z-index: 1;
    
}

.impacto__separator{
    text-align: start;
    padding-left: -1.25rem;
    margin-left: -1.25rem;
    position: absolute;
    &::after{
        position: absolute;
        content: '';
        height: 1.25rem;
        width: 19rem;
        background-color: $amarillo;
        top: 7em;       
    }
}

.impacto__titulo_principal{
    color:$azul;
    font-weight: bold ;
    line-height: 122%;
    font-size: 45px;
}

.impacto__titulo_secundario{
    color: $blanco;

    line-height: 122%;
    font-size: 30px;
}

.impacto__parrafo{
    margin-top: 1rem;
    color: $blanco;
    line-height: 122%; 
    text-align: justify;
    color: $gris;
    font-weight: $font-weight-light;
    font-size: 17px;   
}
.impacto__textos{
    margin-top: 3rem;
}

.imagen__impacto{
    width: 100%;
    height: 100%;
    margin-top: 3rem;
}



.impacto__separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1; 
}

.impacto__content__puntos{
    width: 20%;
}

.impacto__puntos{
    width: 120%; 
    margin-top: 400px;
    margin-left: 700px;
}
//

.impacto__content__circulo{
    width: 7%;
}

.impacto__circulo{
    width: 120%; 
    margin-top: 400px;
    margin-left: -30px;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .imagen__impacto{
        width: 75%;
        height: 75%;
        align-items: center;
        align-content: center;
        justify-content: center;
        
    }
}

