.servicios{
    background-color: $azul;
  
}

.servicio__titulo{
    display: inline-block;
    position: relative;
    color: $blanco;
    font-size: 40px;
    font-weight: bold;
    margin-top: 85px;
    z-index: 1;    
}

.ubicacion__subtitulo{
    color: $amarillo;
    font-weight: bold;
    margin-left: 3rem;
    margin-top: -15px;
    font-size: 1rem;
}


.servicios__card{

    background-color: transparent;
    border: none;
    margin-bottom: 3rem;
   
}

.servicios__texto__card{
    color: $blanco;
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: start;
}

.servicios__imagen{
    width: 70%;
    height: 70%;
}   

.servicio__contenido__card{
    margin-top: 2rem;
  
}

.servicio__svg{
   width: 80%;
   height: 80%;
   margin-left: 40px;
   margin-top: 15px;

}

.servicio__circulo{
    background-image: url(../../imagenes/servicios/circulo.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.servicio__puntos{
    background-image: url(../../imagenes/servicios/puntos.png);
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.servicio__logo{
    background-image: url(../../imagenes/servicios/logo.png);
    background-size: 13%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    svg.servicio__svg{
        margin: 0px 0px 0px 60px;

    }
    .servicios__card{
        margin-bottom: 1rem;
    }


 }
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    .servicio__svg{
    
        margin-left: 100px;
       
     
     }
     .servicios__texto__card{
         font-size: 12px;
     }

}


