.ubicacion{
    background-color: $azul;
}

.ubicacion__titulo{
    display: inline-block;
    position: relative;
    color: $blanco;
    font-size: 40px;
    font-weight: bold;
    margin-top: 85px;
    z-index: 1;
    
}

.ubicacion__separator{
    text-align: start;
    padding-left: -1.25rem;
    margin-left: -1.25rem;
    position: absolute;
    &::after{
        position: absolute;
        content: '';
        height: 1.25rem;
        width: 13rem;
        background-color: $amarillo;
        top:-1.5em;       
    }
}


.ubicacion__titulo_principal{
    color:$amarillo;   
    line-height: 122%;;

}

.ubicacion__titulo_secundario{
    color: $blanco;
    line-height: 122%;
    font-size: 30px;
}

.ubicacion__parrafo{ 
    text-align: justify;


      
}



.ubicacion__icono{
    margin-top: 5rem;
    margin-left: 5rem;

}



.ubicacion__mapa{
    border: 5px solid $amarillo;
    border-top: 0px;
    border-left: 0px;
    border-radius: 20px;


}
.ubicacion__card{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}



/////

.ubicacion__separator-ribbon__puntos{
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1; 
}

.ubicacion__content__puntos{
    width: 90%;
}

.ubicacion__puntos{
    width: 30%; 
    margin-top: -680px;
    margin-left: 800px;
}


//



.ubicacion__separator-ribbon__puntos{
 
    position: absolute;
    z-index: 1; 
}

.ubicacion__content__circulo{
    width: 80%;
}

.ubicacion__circulo{
    width: 15%; 
    margin-top: -110px;
    margin-left: 630px;
}




// Persona

.ubicacion__content__persona{
    width: 80%;
}

.ubicacion__persona{
    width: 20%; 
    margin-top: -300px;
    margin-left: 1128px;
 
}

/* Dispositivo sm */
@media screen and (max-width: 492px) {
    .ubicacion__titulo{
        font-size: 25px;  
    }
    .ubicacion__titulo_principal{

        font-size: 25px;
    }
    
    .ubicacion__titulo_secundario{

        font-size: 20px;
    }

    .ubicacion__separator{
        text-align: start;
        padding-left: -1.25rem;
        margin-left: -1.25rem;
        position: absolute;
        &::after{
            position: absolute;
            content: '';
            height: 0.7rem;
            width: 8rem;
            background-color: $amarillo;
            top:-1.5em;       
        }
    }

    .ubicacion__mapa{        
        height: 300px;
        width: 300px;

    }
    

  
 
}

/* Dispositivo MD */
@media screen and (max-width: 768px) {


    .separator{
        margin-left: -1rem;
        &::after{
            width: 12rem;
            
        }
    }

}

/* Dispositivo LG */
@media screen and (max-width: 992px) {

}

/* Dispositivo XL */
@media screen and (max-width: 1350px) {
    .ubicacion__display{
        display: none;
    }
}


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1350px) {
   

 }
