.ubicacion{
    background-color: $azul;
}

.ubicacion__titulo{
    display: inline-block;
    position: relative;
    color: $blanco;
    font-size: 40px;
    font-weight: bold;
    margin-top: 85px;
    z-index: 1;    
}




.ubicacion__titulo_principal{
    color:$amarillo;
    font-size: 3.5rem;
    font-weight: bold;
}



.ubicacion__parrafo{ 
    text-align: justify; 
    font-size: 1.4rem;    
}


.ubicacion__icono{
    margin-top: 5rem;
    margin-left: 5rem;
}

.ubicacion__persona{
    background-image: url(../../imagenes/ubicacion/persona.png);

    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100% 100%;
}

//puntos

.ubicacion__nuevos__puntos{
    background-image: url(../../imagenes/ubicacion/puntos.png);
    background-size: 40%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.ubicacion__nuevos__circulo{
    background-image: url(../../imagenes/ubicacion/circulo.png);
    background-size: 8% ;
    background-position: 59% 100%;
    background-repeat: no-repeat;
 
}

.ubicacion__nuevos__circulo_mapa_borrar{
    background-image: url(../../imagenes/ubicacion/circulo.png);
    background-size: 20% ;
    background-position: 2% 97%;
    background-repeat: no-repeat;
   
 
}

.ubicacion__borde{
    background-image: url(../../imagenes/ubicacion/borde.png);
    background-size: 80%;
    background-position: 75% 60%;
    background-repeat: no-repeat;
}

.ubicacion__mapa{
   
    border-top: 0px;
    border-left: 0px;
  
    width: 35rem ;
    height: 35rem;
}

.ubicacion__card{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

/////





/* Dispositivo sm */
@media screen and (max-width: 492px) {
    .ubicacion__titulo{
        font-size: 25px;  
    }
  

 
}

/* Dispositivo MD */
@media screen and (max-width: 768px) {}

/* Dispositivo LG */
@media screen and (max-width: 992px) {}

/* Dispositivo XL */
@media screen and (max-width: 1350px) {}


// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1350px) { }
